#
# Copyright (c) 2023 Nordic Semiconductor
#
# SPDX-License-Identifier: LicenseRef-Nordic-5-Clause
#

menuconfig SLM_BACKEND
    bool "SLM Backend Library for host MCU"
    depends on SERIAL
    depends on UART_ASYNC_API
    depends on RING_BUFFER
    depends on SOC_FAMILY_NRF
    select UART_USE_RUNTIME_CONFIGURE

if SLM_BACKEND

#
# UART buffers
#
config SLM_BACKEND_UART_RX_BUF_COUNT
    int "Receive buffers for UART"
    range 2 4
    default 3
    help
      Number of buffers for receiving (RX) UART traffic.
      If the buffers are full, UART RX will be disabled until the buffers are processed.

config SLM_BACKEND_UART_RX_BUF_SIZE
    int "Receive buffer size for UART"
    range 16 4096
    default 256
    help
      Amount of received (RX), unprocessed, UART traffic that can be held by a single buffer.

config SLM_BACKEND_UART_TX_BUF_SIZE
    int "Send buffer size for UART"
    range 16 4096
    default 256
    help
      Amount of UART traffic waiting to be sent (TX), which can be held.
      If the buffers are full, all messages will be sent synchronously.

config SLM_BACKEND_AT_CMD_RESP_MAX_SIZE
    int "Maximum size of AT command response from SLM"
    default 2100
    help
      The maximum size of the AT command response.

config SLM_BACKEND_SHELL
    bool "SLM Backend Shell"
    depends on SHELL
    help
      Adds AT command capability to shell. The shell command is "slm".

choice
    prompt "AT command terminator"
    default SLM_BACKEND_CR_LF_TERMINATION
    help
        Sets the termination ending from the serial terminal
        Levels are:
        -  CR Termination
        -  LF Termination
        -  CR+LF Termination

    config SLM_BACKEND_CR_TERMINATION
        bool "CR Termination"
    config SLM_BACKEND_LF_TERMINATION
        bool "LF Termination"
    config SLM_BACKEND_CR_LF_TERMINATION
        bool "CR+LF Termination"
endchoice

config SLM_BACKEND_POWER_PIN
    int "Power pin"
    default -1
    help
      Interface GPIO to toggle power pin of the nRF91 Series device.

config SLM_BACKEND_POWER_PIN_TIME
    int "Power pin active time"
    default 100
    help
      GPIO active time in milliseconds. This setting specifies the period length for the pin to be active.

config SLM_BACKEND_INDICATE_PIN
    int "Indicate pin"
    default -1
    help
      Interface GPIO pin used by SLM to indicate that data is available or an unexpected reset has occurred.

module = SLM_BACKEND
module-dep = LOG
module-str = SLM Backend
source "${ZEPHYR_BASE}/subsys/logging/Kconfig.template.log_config"

endif # SLM_BACKEND

rsource "../../nrfmodule-core/src/client/Kconfig"

