# LiveTracker board default configuration
#
# Copyright (c) 2026 nRFModule
# SPDX-License-Identifier: Apache-2.0

if BOARD_LIVETRACKER

config BOARD
	default "livetracker"

if BOARD_LIVETRACKER_NRF52840

config HW_STACK_PROTECTION
	default ARCH_HAS_STACK_PROTECTION

endif # BOARD_LIVETRACKER_NRF52840

if BOARD_LIVETRACKER_NRF9151 || BOARD_LIVETRACKER_NRF9151_NS

config HW_STACK_PROTECTION
	default ARCH_HAS_STACK_PROTECTION

config BOARD_LIVETRACKER
	select USE_DT_CODE_PARTITION if BOARD_LIVETRACKER_NRF9151_NS

endif # BOARD_LIVETRACKER_NRF9151 || BOARD_LIVETRACKER_NRF9151_NS

endif # BOARD_LIVETRACKER
